<template>
  <section id="application">
    <div class="container">

      <Loader v-bind:class="{ 'is--active': !ready }" />

      <Logo />

      <form @submit.prevent="submit">
        <input type="text" v-model="search" />
        <button type="submit">Search</button>
      </form>

      <div class="player" v-if="current">
        <iframe width="100%" frameborder="0" v-if="current" v-bind:src="'https://www.youtube.com/embed/' + current"></iframe>
      </div>

      <section class="results">
        <h2>Results</h2>
        <span class="results__meta" v-if="!meta.results">
          No current results.
        </span>
        <span class="results__meta" v-else>
          <strong>{{ meta.results }}</strong> Results
        </span>
        <ul>
          <li class="video" v-for="video in videos" v-bind:class="{ 'is--live': video.snippet.liveBroadcastContent === 'live' }">
            <img class="video__image" @click="playVideo( video.id.videoId )" v-bind:src="video.snippet.thumbnails.medium.url" />
            <h5 class="video__title" @click="playVideo( video.id.videoId )">{{ video.snippet.title }}</h5>
            <span class="video__channel">
              Channel: <a v-bind:href="'https://youtube.com/channel/' + video.snippet.channelId" target="_blank" rel="noopener noreferrer">{{ video.snippet.channelTitle }}</a>
            </span>
            <div class="video__actions">
              <button class="video__play" @click="playVideo( video.id.videoId )">PLAY</button>
              <button class="video__save" @click="save( video.id.videoId, video.snippet.title, video.snippet.thumbnails.medium.url )">SAVE</button>
            </div>
          </li>
        </ul>
      </section>

      <section class="saved" v-if="saved">
        <h2>Saved Videos</h2>
        <ul >
          <li class="video" v-for="( video, index ) in saved">
            <img class="video__image" @click="playVideo( video.id )" v-bind:src="video.image" />
            <h5 class="video__title" @click="playVideo( video.id )">{{ video.title }}</h5>
            <div class="video__actions">
              <button class="video__play" @click="playVideo( video.id )">PLAY</button>
              <button class="video__remove" @click="remove( index )">REMOVE</button>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </section>
</template>

<script>
import Loader from './components/Loader.vue'
import Logo from './components/Logo.vue'

export default {
  name: 'Application',
  data: () => ({
    loaded: false,
    ready: false,
    search: '',
    meta: {
      results: null
    },
    videos: '',
    player: null,
    current: null,
    saved: []
  }),
  components: {
    Loader,
    Logo
  },
  mounted() {
    this.initialize()
  },
  watch: {
    loaded() { this.initializeGAPI() },
    saved: {
      handler(){
        let parsed = JSON.stringify( this.saved )
        localStorage.setItem( 'saved', parsed )
      },
      deep: true
    }
  },
  methods: {
    initialize() {
      // Poor man's async return
      if ( this.loaded === false ) {
        if ( !window.gapi || !window.gapi.client ) {
          setTimeout( this.initialize, 100 )
        } else {
          this.loaded = true
        }
      }

      // Inject any saved videos from local storage into model
      if( localStorage.getItem( 'saved' ) ) {
        this.saved = JSON.parse( localStorage.getItem( 'saved' ) )
        console.log( 'load saved', this.saved )
      }
    },
    initializeGAPI() {
      gapi.client.setApiKey('AIzaSyDcUlE2p-NKrAITaYH7pC7dcKWf2GJKvEw');
      gapi.client.load('youtube', 'v3', () => {
        this.ready = true
      } )
    },
    remove( index ) {
      this.saved.splice( index, 1 )
    },
    playVideo( id ) {
      this.current = id
      document.querySelector( '.logo' ).scrollIntoView()
    },
    processMeta( results ) {
      this.meta.results = results.pageInfo.totalResults
    },
    displayVideos( results ) {
      this.videos = results.items
    },
    save( id, title, image ) {
      alert( title + ' saved!' )
      let present = false

      // Loop through array and check for presense
      // this is a little gnarly - should have secondary index
      if ( this.saved.length > 0 ) {
        this.saved.forEach( ( item, index ) => {
          if ( item.id === id ) {
            present = true
          }
        } )
      }

      if ( !present ) {
        let video = {
          id: id,
          title: title,
          image: image
        }

        this.saved.push( video )
      }
    },
    submit() {
      var q = this.search
      // Following params could easily all be rolled upstream into UI
      var request = gapi.client.youtube.search.list({
        q: q,
        part: 'snippet',
        maxResults: 20,
        order: 'relevance',
        type: 'video'
      });

      request.execute( async ( response ) => {
        let results = await response.result
        this.displayVideos( results )
        this.processMeta( results )
      });
    }
  }
}
</script>

<style lang="css">
/* Quick global reset */
* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, 'sans-serif';
  font-weight: 300;
}

body {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
  text-decoration: underline;
}
</style>

<style lang="css" scoped>
#application {
  background: white;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 300px;
  width: 95%;

  @media( --lap ) {
    max-width: 650px;
  }

  @media( --desk ) {
    max-width: 1000px;
  }
}

form {
  display: flex;
  justify-content: center;
  margin: 2em auto;
  width: 300px;
  
  & input {
    border: 1px solid #ccc;
    font-size: 1em;
    padding: .5em .5em;
    width: 200px;

    &:focus {
      outline: none;
    }
  }

  & button {
    color: white;
    background: rgb( 253, 13, 28 );
    border: none;
    padding: 0 1em;
    font-size: 1em;
  }
}

.saved {
  margin: 2em auto;

  @media( --lap ) {

    & ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  @media( --desk ) {
    width: 175px;
    margin: 0;
    float: right;

    & .video {
      margin: 0;

      &:not( :first-child ) {
        margin-top: 2em;
      }
    }
  }
}

.results {
  margin: 2em auto;

  & .results__meta {
    font-style: italic;
  }

  @media( --lap ) {

    & ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  @media( --desk ) {
    width: 755px;
    margin: 0;
    float: left;
    position: relative;

    & .results__meta {
      position: absolute 1.6em null null 6em;
    }

    & ul {
      &:after {
        content: "";
        flex: auto;
      }
    }

    & .video {
      &:nth-child( n+4 ) {
        margin-top: 2em;
      }

      &:nth-child( 3n-1 ) {
        margin-left: 25px;
        margin-right: 25px;
      }
    }
  }
}

.player {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.5%;
  position: relative;
  box-shadow: 2px 2px 15px #222;
  margin: 2em 0 2em 0;
  background-color: #eee;
  background-image: url( '../media/images/loader.gif' );
  background-position: 50% 50%;
  background-repeat: no-repeat;

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video {
  position: relative;
  overflow: hidden;
  max-width: 300px;

  & .video__image {
    cursor: pointer;
  }

  & .video__title {
    cursor: pointer;
    margin: 0;
    font-size: .9em;
  }

  & .video__channel {
    font-size: .9em;

    & a {
      color: rgb( 253, 13, 28 );
    }
  }

  & .video__actions {
    display: flex;
  }

  & .video__play {
    background: rgb( 253, 13, 28 );
    border: none;
    color: white;
    display: block;
    font-size: .75em;
    margin-top: .5em;
    padding: .5em 1em;
  }

  & .video__save,
  & .video__remove {
    background: white;
    border: 1px solid rgb( 253, 13, 28 );
    color: rgb( 253, 13, 28 );
    display: block;
    font-size: .75em;
    margin-top: .5em;
    padding: .5em 1em;
    margin-left: .5em;
  }

  &.is--live {

    &:before  {
      content: 'Live';
      position: absolute -.75em -5em null null;
      color: white;
      background: rgb( 253, 13, 28 );
      transform: rotate( 45deg );
      font-weight: bolder;
      width: 200px;
      text-align: center;
      display: block;
      padding: 2em 0 1em 0;
    }
  }

  @media( --palm-only ) {

    &:not( :first-child ) {
      margin-top: 2em;
    }
  }

  @media( --lap-only ) {

    &:nth-child( n+3 ) {
      margin-top: 2em;
    }
  }

  @media( --desk ) {
    max-width: 235px;
  }
}
</style>
