<template>
  <section class="loader">
    <div class="loader__container">
      <div class="loader__segment"></div>
      <div class="loader__segment"></div>
      <div class="loader__segment"></div>
      <div class="loader__segment"></div>
      <div class="loader__segment"></div>
      <div class="loader__segment"></div>
      <div class="loader__segment"></div>
      <div class="loader__segment"></div>
      <div class="loader__segment"></div>
      <div class="loader__segment"></div>
      <div class="loader__message">
        <img src="../../media/images/logo.png" />
      </div>
    </div>
  </section>
</template>

<script>
import Logo from './Logo.vue'

export default {
  name: 'Loader',
  data: () => ({}),
  components: {
    Logo
  },
  methods: {
  }
}
</script>

<style scoped>
@keyframes loader--expand {
  0% {
    background: rgba( 253, 13, 28, .5 );
    transform: scale(1);
  }
  20% {
    background: rgb( 253, 13, 28 );
    transform: scale(2);
  }
}

.loader {
  background-color: #f1f1f7;
  opacity: 0;
  position: fixed 0 0 0 0;
  transition: all 250ms linear;
  visibility: hidden;
  z-index: 1000;

  @media(--lap) {
    font-size: 1.5em;
  }

  &:before {
    background-color: rgba( 255, 255, 255, .75 );
    content: '';
    display: block;
    position: absolute 0 0 0 0;
  }

  .loader__container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute 45% null null 50%;
    transform: translateX( -50% ) translateY( -50% );
    width: 100%;
  }

  .loader__segment {
    animation: loader--expand 1750ms ease-in-out infinite;
    background: rgba( 253, 13, 28, .5 );
    display: inline-block;
    margin: 0 .5em;
    size: .12em 2em;
    transform-origin: center center;

    &:nth-child(2) {
      animation-delay: 150ms;
    }

    &:nth-child(3) {
      animation-delay: 300ms;
    }

    &:nth-child(4) {
      animation-delay: 450ms;
    }

    &:nth-child(5) {
      animation-delay: 600ms;
    }

    &:nth-child(6) {
      animation-delay: 750ms;
    }

    &:nth-child(7) {
      animation-delay: 900ms;
    }

    &:nth-child(8) {
      animation-delay: 1050ms;
    }

    &:nth-child(9) {
      animation-delay: 1200ms;
    }

    &:nth-child(10) {
      animation-delay: 1350ms;
    }
  }

  .loader__message {
    color: black;
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    & img {
      width: 7.5em;
      flex-shrink: 0;
      margin-left: .5em;
    }
  }

  &.is--active {
    opacity: 1;
    visibility: visible;
  }
}
</style>
