<template>
  <div class="logo">
    <img src="../../media/images/logo.png" />
  </div>
</template>

<script>
export default {
  name: 'Logo',
  data: () => ({}),
  methods: {
  }
}
</script>

<style scoped>
div {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2em 0 0 0;
  width: 100%;
}

img {
  max-width: 250px;
}
</style>
